# macOS Files
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcuserstate
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive
*.xcworkspace

# Xcode Workspace State
xcuserdata/
xcuserdata/**/xcdebugger/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/
*.framework

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/screenshots/**/*.png
fastlane/test_output/

# Editor Files
*.swp
*~.nib
*~.xib

# Lock Files
*.lock

# Certificates
*.cer
*.crt
*.pem

# Other
*.orig
*.tmp